/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    min-height: 100px;
    background-color: black;
    width: 100vw;
    z-index: 1;
}

h1 {
    color: #E50914;
    font-size: 48px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #434343;
}

/* Wrappers */

.app__search-area button,
.app__search-area input {
    background-color: transparent;
    border: none;
    border-bottom: 2px #CCC solid;
    font-size: 24px;
    color: #E50914;
}

.app__search-area button{
    border-bottom: transparent;
}

#app__movie-ground {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 100px;
    height: 100vh;
}

.app__movie-ground__card {
    position: relative;
    width: 342px;
    margin: 20px;
}

.app__movie-ground__card__poster {
    display: block;
    border: 1px solid white;
}

.app__movie-ground__card__detail,
.app__movie-ground__card__poster {
    height: 482px;
    width: 342px;
}

/* Overlay */

.app__movie-ground__card__detail{
    list-style: none;
    position: absolute;
    top: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    border: 1px solid white;
    opacity: 0;
    transition: .2s ease;
}

.app__movie-ground__card__detail:hover{
    opacity: 1;
}

/* Detail text */

.app__movie-ground__card__detail__item i{
    color: #ffbd00;
}

.app__movie-ground__card__detail__item span:nth-of-type(1) {
    font-weight: 700;
}

.app__movie-ground__card__detail__item span:nth-of-type(2) {
    font-weight: 200;
}

.flag {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

img[src='assets/img/no-product-image.png']{
    width: 342px;
    height: 482px;
}

